{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/ateliershimura.myshopify.com/pages/configure/218622/edit
{% endcomment %}
{% if page.metafields.custom_fields["workshop_couse"] != blank %}
  <div class="custom-field custom-field__workshop-couse custom-field__type--field-collection">
    <h3 class="custom-field--title">Workshop Index</h3>
    <div class="custom-field--value">
      {% assign separator = "|###|" %}
      {% assign workshop_couse_image_array = page.metafields.custom_fields["workshop_couse_image"] | split: separator %}
      {% assign workshop_couse_title_array = page.metafields.custom_fields["workshop_couse_title"] | split: separator %}
      {% assign workshop_couse_text_array = page.metafields.custom_fields["workshop_couse_text"] | split: separator %}
      {% assign workshop_couse_link_array = page.metafields.custom_fields["workshop_couse_link"] | split: separator %}
      {% assign workshop_hide_array = page.metafields.custom_fields["workshop_hide"] | split: separator %}
      {% assign fc_keys = page.metafields.custom_fields["workshop_couse"] | split: "," %}
      {% for i in fc_keys %}
        {% assign index = i | plus: 0 %}
        <div class="fc-item fc-item-- fc-index--{{ index }}">
          <div class="fc-field field__workshop-couse-image">
            {{ workshop_couse_image_array[index] }}
          </div>
          <div class="fc-field field__workshop-couse-title">
            {{ workshop_couse_title_array[index] }}
          </div>
          <div class="fc-field field__workshop-couse-text">
            {{ workshop_couse_text_array[index] }}
          </div>
          <div class="fc-field field__workshop-couse-link">
            {{ workshop_couse_link_array[index] }}
          </div>
          <div class="fc-field field__workshop-hide">
            {{ workshop_hide_array[index] }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}