{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/ateliershimura.myshopify.com/globals/configure/232987/edit
{% endcomment %}
{% if shop.metafields.custom_fields["english_store"] != blank %}
  <div class="custom-field custom-field__english-store custom-field__type--field-collection">
    <h3 class="custom-field--title">English 店舗リスト</h3>
    <div class="custom-field--value">
      {% assign separator = "|###|" %}
      {% assign english_store_image_array = shop.metafields.custom_fields["english_store_image"] | split: separator %}
      {% assign english_store_title_array = shop.metafields.custom_fields["english_store_title"] | split: separator %}
      {% assign english_store_text_array = shop.metafields.custom_fields["english_store_text"] | split: separator %}
      {% assign english_store_url_array = shop.metafields.custom_fields["english_store_url"] | split: separator %}
      {% assign fc_keys = shop.metafields.custom_fields["english_store"] | split: "," %}
      {% for i in fc_keys %}
        {% assign index = i | plus: 0 %}
        <div class="fc-item fc-item-- fc-index--{{ index }}">
          <div class="fc-field field__english-store-image">
            {{ english_store_image_array[index] }}
          </div>
          <div class="fc-field field__english-store-title">
            {{ english_store_title_array[index] }}
          </div>
          <div class="fc-field field__english-store-text">
            {{ english_store_text_array[index] }}
          </div>
          <div class="fc-field field__english-store-url">
            {{ english_store_url_array[index] }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}