{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/ateliershimura.myshopify.com/globals/configure/231811/edit
{% endcomment %}
{% if shop.metafields.custom_fields["collection_list"] != blank %}
  <div class="custom-field custom-field__collection-list custom-field__type--field-collection">
    <h3 class="custom-field--title">オンラインストア コレクションリスト</h3>
    <div class="custom-field--value">
      {% assign separator = "|###|" %}
      {% assign onlinestore_image_array = shop.metafields.custom_fields["onlinestore_image"] | split: separator %}
      {% assign onlinestore_title_array = shop.metafields.custom_fields["onlinestore_title"] | split: separator %}
      {% assign onlinestore_slug_array = shop.metafields.custom_fields["onlinestore_slug"] | split: separator %}
      {% assign onlinestore_en_title_array = shop.metafields.custom_fields["onlinestore_en_title"] | split: separator %}
      {% assign onlinestore_en_slug_array = shop.metafields.custom_fields["onlinestore_en_slug"] | split: separator %}
      {% assign onlinestore_en_hide_array = shop.metafields.custom_fields["onlinestore_en_hide"] | split: separator %}
      {% assign onlinestore_en_text_array = shop.metafields.custom_fields["onlinestore_en_text"] | split: separator %}
      {% assign fc_keys = shop.metafields.custom_fields["collection_list"] | split: "," %}
      {% for i in fc_keys %}
        {% assign index = i | plus: 0 %}
        <div class="fc-item fc-item-- fc-index--{{ index }}">
          <div class="fc-field field__onlinestore-image">
            {{ onlinestore_image_array[index] }}
          </div>
          <div class="fc-field field__onlinestore-title">
            {{ onlinestore_title_array[index] }}
          </div>
          <div class="fc-field field__onlinestore-slug">
            {{ onlinestore_slug_array[index] }}
          </div>
          <div class="fc-field field__onlinestore-en-title">
            {{ onlinestore_en_title_array[index] }}
          </div>
          <div class="fc-field field__onlinestore-en-slug">
            {{ onlinestore_en_slug_array[index] }}
          </div>
          <div class="fc-field field__onlinestore-en-hide">
            {{ onlinestore_en_hide_array[index] }}
          </div>
          <div class="fc-field field__onlinestore-en-text">
            {{ onlinestore_en_text_array[index] }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}