<script
  type="application/json"
  data-section-type="static-blog"
  data-section-id="{{ section.id }}">
</script>

{% assign featured_post = section.settings.featured_post %}
{% assign paginate_by = section.settings.posts_per_page_range | times: 1 %}

{% assign show_featured = false %}
{% if featured_post != '' and featured_post != blank %}
  {% assign show_featured = true %}

  {% comment %}
    Don't show highlighted post if is not first page, or if tags are active
  {% endcomment %}
  {% if paginate.current_page != 1 and current_tags != blank %}
    {% assign show_featured = false %}
  {% endif %}
{% endif %}

<section class="blog--container">
  <div class="breadcrumbs--wrapper">
    {% if blog.handle  == 'en-store' %}
    <nav
    class="breadcrumbs-container"
    aria-label="パンくずリスト"
    >
      <a href="/pages/english">Home</a>
      <span class="breadcrumbs-delimiter" aria-hidden="true">
        {% include 'icon-library', id: 'icon-chevron-down-thin' %}
      </span>
      <span>{{ page.title }}</span>
    </nav>
    {% elsif blog.handle  == 'en-stories' %}
    <nav
    class="breadcrumbs-container"
    aria-label="パンくずリスト"
    >
      <a href="/pages/english">Home</a>
      <span class="breadcrumbs-delimiter" aria-hidden="true">
        {% include 'icon-library', id: 'icon-chevron-down-thin' %}
      </span>
      <span>{{ page.title }}</span>
    </nav>
    {% else %}
      {% include 'breadcrumbs' %}
    {% endif %}
  </div>

  <header class="blog-title as-header">
    <div class="as-inner">
    <h1>
      {{ blog.title }}
      {% if current_tags %}
        &#9474;<span class="current-tags">{{ current_tags.first }}</span>
      {% else %}
      {% endif %}
    </h1>
      {% if blog.metafields.custom_fields["blog_read-text"] != blank %}
        <div class="header-text rte">
          {{ blog.metafields.custom_fields["blog_read-text"] }}
        </div>
      {% endif %}

      {% if blog.handle  == 'news' %}<!-- news -->
      <aside>
        <ul class="as-list-tag">
          <li class="as-font-color-g7">絞り込み：</li>
          {%- for tag in blog.all_tags -%}
            <li><a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="as-font-strong as-font-link">{{ tag }}</a></li>{% unless forloop.last %}{% endunless %}
          {%- endfor -%}
        </ul>
      </aside>
      {% endif %}<!-- news -->

      {% if blog.handle  == 'glossaries' %}<!-- glossaries -->
      <aside>
        <ul class="as-list-tag">
          <li class="as-font-color-g7">絞り込み：</li>
          {%- for tag in blog.all_tags -%}
            <li><a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="as-font-strong as-font-link">{{ tag }}</a></li>{% unless forloop.last %}{% endunless %}
          {%- endfor -%}
        </ul>
      </aside>
      {% endif %}<!-- glossaries -->

    </div>
      {% if blog.metafields.custom_fields["blog_slideshow"] != blank %}
        <div class="slider-wrap">
            {{ blog.metafields.custom_fields["blog_slideshow"] }}
        </div>
      {% endif %}
  </header>

  {% paginate blog.articles by paginate_by %}

    {% if show_featured %}
      {%
        include 'article-excerpt-featured',
        article: articles[featured_post]
      %}
    {% endif %}
    <div class="as-inner">

    {% if blog.handle  == 'clientwork' %}<!-- clientwork -->
    <aside class="side-nav">
      <ul class="as-list-tag">
        <li class="as-font-color-g7">絞り込み：</li>
        {%- for tag in blog.all_tags -%}
          <li><a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="as-font-strong as-font-link">{{ tag }}</a></li>{% unless forloop.last %}{% endunless %}
        {%- endfor -%}
      </ul>
    </aside>
    {% endif %}<!-- clientwork -->

    <ul class="blog--inner {% if blog.handle  == 'news' %}blog--inner-full{% endif %}{% if blog.handle  == 'glossaries' %}blog--inner-full{% endif %}{% if blog.handle  == 'clientwork' %}blog--inner-full{% endif %}">
      {% for article in blog.articles %}
        {%
          include 'article-excerpt',
          article: article
          %}
      {% else %}
        <article class="blog--no-results">
          <h2 class="blog--no-results-title">
            {{ 'blog.general.empty_blog' | t }}
          </h2>
        </article>
      {% endfor %}
    </ul>
    </div>

    {% include 'pagination' %}
  {% endpaginate %}
</section>

{% if page.metafields.custom_fields["workshop_permalink_text"] != blank %}
<section class="blog--remarks">
  <div class="as-inner">
    <div class="as-bl-wrap">
      {% assign separator = "|###|" %}
      {% assign ws_permalink_text_title_array = page.metafields.custom_fields["ws_permalink_text_title"] | split: separator %}
      {% assign ws_permalink_text_body_array = page.metafields.custom_fields["ws_permalink_text_body"] | split: separator %}
      {% assign fc_keys = page.metafields.custom_fields["workshop_permalink_text"] | split: "," %}
      {% for i in fc_keys %}
        {% assign index = i | plus: 0 %}
        <article class="as-bl-media as-bl-item">
          <div class="as-bl-media-body">
            <h2 class="as-bl-media-body-title-l article--excerpt-title border-top">
              {{ ws_permalink_text_title_array[index] }}
            </h2>
            <div class="as-bl-media-body-text article--excerpt-text rte">
              {{ ws_permalink_text_body_array[index] }}
            </div>
          </div>
        </article>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% if blog.metafields.custom_fields["remarks"] != blank %}
<section class="blog--remarks">
  <div class="as-inner">
    <div class="as-bl-wrap">
      {% assign separator = "|###|" %}
      {% assign remarks_title_array = blog.metafields.custom_fields["remarks_title"] | split: separator %}
      {% assign remarks_text_array = blog.metafields.custom_fields["remarks_text"] | split: separator %}
      {% assign remarks_link_array = blog.metafields.custom_fields["remarks_link"] | split: separator %}
      {% assign fc_keys = blog.metafields.custom_fields["remarks"] | split: "," %}
      {% for i in fc_keys %}
        {% assign index = i | plus: 0 %}
        <article class="as-bl-media as-bl-item">
          <div class="as-bl-media-body">
            <h2 class="as-bl-media-body-title-l article--excerpt-title border-top">
              {{ remarks_title_array[index] }}
            </h2>
            <div class="as-bl-media-body-text article--excerpt-text rte">
              {{ remarks_text_array[index] }}
              <a href="{{ remarks_link_array[index] }}" class="link-arrow">詳しく見る<span><i class="fal fa-angle-right"></i></span></a>
            </div>
          </div>
        </article>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

{% schema %}
{
  "name": "Blog pages",
  "class": "blog--section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_rss_link",
      "label": "Show RSS link",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show date published",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show post author",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "label": "Show post excerpt",
      "default": true
    },
    {
      "type": "article",
      "id": "featured_post",
      "label": "Featured post"
    },
    {
      "type": "range",
      "id": "posts_per_page_range",
      "label": "Posts per page",
      "min": 6,
      "max": 12,
      "step": 3,
      "default": 9
    }
  ]
}

{% endschema %}