<section class="page--container">
  <div class="breadcrumbs--wrapper">

    <nav
    class="breadcrumbs-container"
    aria-label="パンくずリスト"
    >
    <a href="/">ホーム</a>
    <span class="breadcrumbs-delimiter" aria-hidden="true">
      {% include 'icon-library', id: 'icon-chevron-down-thin' %}
    </span>
    <span>{{ page.title }}</span>
    </nav>

  </div>
  <header class="blog-title as-header">
    <div class="as-inner">
    <h1>
      {{ page.title }}
    </h1>
      {% if page.metafields.custom_fields["page_read-text"] != blank %}
        <div class="header-text rte">
          {{ page.metafields.custom_fields["page_read-text"] }}
        </div>
      {% endif %}
    </div>
      {% if page.metafields.custom_fields["page_slide"] != blank %}
        <div class="slider-wrap">
            {{ page.metafields.custom_fields["page_slide"] }}
        </div>
      {% endif %}

      {% if page.metafields.custom_fields["page_hero"] != blank %}
      <div class="slider-wrap hero-wrap">
         <img src="{% include 'cf-image' with image: page.metafields.custom_fields['page_hero'], print: 'url' %}">
      </div>
      {% endif %}
  </header>


<script
  type="application/json"
  data-section-type="dynamic-featured-product"
  data-section-id="{{ section.id }}"
  data-section-data
>
  {
    "settings": {
      "cart_redirection": {{ section.settings.product_cart_redirect | json }},
      "money_format": {{ shop.money_format | strip_html | json }},
      "thumbnail_position": {{ section.settings.gallery_thumbnail_position | json }},
      "gallery_video_autoplay": {{ section.settings.gallery_video_autoplay | json }},
      "gallery_video_looping": {{ section.settings.gallery_video_looping | json }},
      "hover_zoom": {{ hover_zoom | json }},
      "click_to_zoom": "disabled",
      "lazy_load": {{ settings.lazy_load | json }},
      "enableHistory": false,
      "section_id": {{ section.id | json }},
      "enableSwatches": {{ settings.swatches_enable | json }}
    },
    "context": {
      "product_available": {{ 'product.buttons.add_to_cart' | t | json }},
      "product_unavailable": {{ 'product.buttons.sold_out' | t | json }}
    },
    "product": {% unless onboarding %}{{ json }}{% else %}false{% endunless %},
    "models": {{ product.media | where: 'media_type', 'model' | json }}
  }
</script>


 
       <div class="featured-collection--page featured-collection--wrapper ">
       <section
        class="
            featured-collection--container
            product-row--container 
        "
        data-layout="slideshow"
      >
         <div class="home-section--title-container">
        <h2 class="home-section--title">おすすめ商品</h2>
      </div>
         <!-- home-section--content featured-collection--content product-row flickity-enabled is-draggable  -->
        <ul class="slick-responsive" data-content data-layout="slideshow" tabindex="0">
        {% for product in collections.Featured.products limit: 8 %}
          {%
          include 'product-grid-item',
          product: product
        	%}
        {% endfor %}
        </ul>
           
         
         
           </section>
        </div>
	
  


  {% if shop.metafields.custom_fields["collection_list"] != blank %}
  <div class="featured-collection--page">
       <div class="home-section--title-container">
        <h2 class="home-section--title">カテゴリー</h2>
      </div>
  <div class="as-inner as-inner-full">
    <ul class="as-flexbox as-flexbox1-2 as-flexbox1-3--lg">
      {% assign separator = "|###|" %}
      {% assign onlinestore_image_array = shop.metafields.custom_fields["onlinestore_image"] | split: separator %}
      {% assign url_array = shop.metafields.custom_fields["url"] | split: separator %}
      {% assign onlinestore_title_array = shop.metafields.custom_fields["onlinestore_title"] | split: separator %}
      {% assign onlinestore_slug_array = shop.metafields.custom_fields["onlinestore_slug"] | split: separator %}
      {% assign onlinestore_en_title_array = shop.metafields.custom_fields["onlinestore_en_title"] | split: separator %}
      {% assign onlinestore_en_slug_array = shop.metafields.custom_fields["onlinestore_en_slug"] | split: separator %}
      {% assign onlinestore_en_hide_array = shop.metafields.custom_fields["onlinestore_en_hide"] | split: separator %}
      {% assign onlinestore_en_text_array = shop.metafields.custom_fields["onlinestore_en_text"] | split: separator %}
      {% assign fc_keys = shop.metafields.custom_fields["collection_list"] | split: "," %}
      {% for i in fc_keys %}
        {% assign index = i | plus: 0 %}
        <li class="as-flexbox-item">
          <figure class="as-flexbox-item-figure">
            <div class="as-flexbox-item-figure-inner">
              <a href="/collections/{{ onlinestore_slug_array[index] }}"></a>
              <img src="{{ onlinestore_image_array[index] }}{{ url_array[index] }}">
            </div>
          </figure>
          <div class="article--excerpt-content">
            <h2 class="as-font-subtitle">
              <a href="/collections/{{ onlinestore_slug_array[index] }}">{{ onlinestore_title_array[index] }}</a>
            </h2>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
  
 {% if shop.metafields.custom_fields["collaboration"] != blank %}
    <div class="featured-collection--page">
      <div class="home-section--title-container">
        <h2 class="home-section--title">志村ふくみ・志村洋子</h2>
      </div>
  <div class="as-inner as-inner-full">
    <ul class="as-flexbox as-flexbox1-2 as-flexbox1-3--lg">
      {% for item in shop.metafields.custom_fields["collaboration"] %}
    
        
          <li class="as-flexbox-item">
           {% if item["image"] != blank %}
            <figure class="as-flexbox-item-figure">
            <div class="as-flexbox-item-figure-inner">
              <a href="/collections/{{ item['slug'] }}"></a>
              <img src="{{ item["image"] }}">
            </div>
          	</figure>
           {% endif %}
           {% if item["title"] != blank %}
            <div class="article--excerpt-content">
            <h2 class="as-font-subtitle">
              <a href="/collections/{{ item['slug'] }}">{{ item["title"] }}</a>
            </h2>
          	</div>
           {% endif %}
          </li>
    
       {% endfor %}
      </ul>
    </div>
     </div>
{% endif %}
  
  
{% if shop.metafields.custom_fields["brands"] != blank %}
    <div class="featured-collection--page">
      <div class="home-section--title-container">
        <h2 class="home-section--title">コラボレーション商品</h2>
      </div>
  <div class="as-inner as-inner-full">
    <ul class="as-flexbox as-flexbox1-2 as-flexbox1-3--lg">
      {% for item in shop.metafields.custom_fields["brands"] %}
    
        
          <li class="as-flexbox-item">
           {% if item["image"] != blank %}
            <figure class="as-flexbox-item-figure">
            <div class="as-flexbox-item-figure-inner">
              <a href="/collections/{{ item['brands_slug'] }}"></a>
              <img src="{{ item["image"] }}">
            </div>
          	</figure>
           {% endif %}
           {% if item["brands_title"] != blank %}
            <div class="article--excerpt-content">
            <h2 class="as-font-subtitle">
              <a href="/collections/{{ item['brands_slug'] }}">{{ item["brands_title"] }}</a>
            </h2>
          	</div>
           {% endif %}
          </li>
    
       {% endfor %}
      </ul>
    </div>
     </div>
{% endif %}
  


  {% if page.content != blank %}
  <div class="as-inner">
      <div class="as-text rte">
      {{ page.content }}
      </div>
  </div>
  {% endif %}

</section>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript">
    $('.slick-responsive').slick({
  dots: false,
  infinite: false,
  speed: 300,
  slidesToShow: 4,
  slidesToScroll: 4,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2,
        arrows: false,
        infinite: true,
        centerMode: true
      }
    },
    {
      breakpoint: 768,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});
</script>
