<section class="page--container">
  <div class="breadcrumbs--wrapper">
    {% include 'breadcrumbs' %}
  </div>
  <header class="blog-title as-header">
    <div class="as-inner">
    <h1>
      {{ page.title }}
    </h1>
      {% if page.metafields.custom_fields["page_read-text"] != blank %}
        <div class="header-text rte">
          {{ page.metafields.custom_fields["page_read-text"] }}
        </div>
      {% endif %}
    </div>
      {% if page.metafields.custom_fields["page_slide"] != blank %}
        <div class="slider-wrap">
            {{ page.metafields.custom_fields["page_slide"] }}
        </div>
      {% endif %}

      {% if page.metafields.custom_fields["page_hero"] != blank %}
      <div class="slider-wrap hero-wrap">
         <img src="{% include 'cf-image' with image: page.metafields.custom_fields['page_hero'], print: 'url' %}">
      </div>
      {% endif %}
  </header>

{% if page.metafields.custom_fields["workshop_couse"] != blank %}
  <div class="as-inner as-inner-full">
    <div class="as-flexbox as-flexbox1-3">
      {% assign separator = "|###|" %}
      {% assign workshop_couse_image_array = page.metafields.custom_fields["workshop_couse_image"] | split: separator %}
      {% assign workshop_couse_title_array = page.metafields.custom_fields["workshop_couse_title"] | split: separator %}
      {% assign workshop_couse_text_array = page.metafields.custom_fields["workshop_couse_text"] | split: separator %}
      {% assign workshop_couse_link_array = page.metafields.custom_fields["workshop_couse_link"] | split: separator %}
      {% assign fc_keys = page.metafields.custom_fields["workshop_couse"] | split: "," %}
      {% for i in fc_keys %}
        {% assign index = i | plus: 0 %}<!-- fieldcollection -->
        <article class="as-bl-media as-flexbox-item">
          <figure class="as-bl-media-img">
            <a href="{{ workshop_couse_link_array[index] }}">
              <img src="{{ workshop_couse_image_array[index] }}" alt="{{ workshop_couse_title_array[index] }}">
            </a>
          </figure>
          <div class="as-bl-media-body article--excerpt-content">
            <h2 class="as-bl-media-body-title article--excerpt-title as-font-subtitle">
              <a href="{{ workshop_couse_link_array[index] }}">
                {{ workshop_couse_title_array[index] }}
              </a>
            </h2>
            <div class="as-bl-media-body-text article--excerpt-text rte">
              {{ workshop_couse_text_array[index] }}
            </div>
          </div>
        </article>
      {% endfor %}<!-- /fieldcollection -->
      </div>
    </div>
{% endif %}

  {% if page.content != blank %}
    <div class="page-content rte">
      {{ page.content }}
    </div>
  {% endif %}


</section>
