<section class="page--container">
  <div class="breadcrumbs--wrapper">

    <nav
    class="breadcrumbs-container"
    aria-label="パンくずリスト"
    >
    <a href="/">ホーム</a>
    <span class="breadcrumbs-delimiter" aria-hidden="true">
      {% include 'icon-library', id: 'icon-chevron-down-thin' %}
    </span>
    <span>{{ page.title }}</span>
    </nav>

  </div>
  <header class="blog-title as-header">
    <div class="as-inner">
    <h1>
      {{ page.title }}
    </h1>
      {% if page.metafields.custom_fields["page_read-text"] != blank %}
        <div class="header-text rte">
          {{ page.metafields.custom_fields["page_read-text"] }}
        </div>
      {% endif %}
    </div>
      {% if page.metafields.custom_fields["page_slide"] != blank %}
        <div class="slider-wrap">
            {{ page.metafields.custom_fields["page_slide"] }}
        </div>
      {% endif %}

      {% if page.metafields.custom_fields["page_hero"] != blank %}
      <div class="slider-wrap hero-wrap">
         <img src="{% include 'cf-image' with image: page.metafields.custom_fields['page_hero'], print: 'url' %}">
      </div>
      {% endif %}
  </header>

  {% if shop.metafields.custom_fields["collection_list"] != blank %}
  <div class="as-inner as-inner-full">
    <ul class="as-flexbox as-flexbox1-2 as-flexbox1-3--lg">
      {% assign separator = "|###|" %}
      {% assign onlinestore_image_array = shop.metafields.custom_fields["onlinestore_image"] | split: separator %}
      {% assign url_array = shop.metafields.custom_fields["url"] | split: separator %}
      {% assign onlinestore_title_array = shop.metafields.custom_fields["onlinestore_title"] | split: separator %}
      {% assign onlinestore_slug_array = shop.metafields.custom_fields["onlinestore_slug"] | split: separator %}
      {% assign onlinestore_en_title_array = shop.metafields.custom_fields["onlinestore_en_title"] | split: separator %}
      {% assign onlinestore_en_slug_array = shop.metafields.custom_fields["onlinestore_en_slug"] | split: separator %}
      {% assign onlinestore_en_hide_array = shop.metafields.custom_fields["onlinestore_en_hide"] | split: separator %}
      {% assign onlinestore_en_text_array = shop.metafields.custom_fields["onlinestore_en_text"] | split: separator %}
      {% assign fc_keys = shop.metafields.custom_fields["collection_list"] | split: "," %}
      {% for i in fc_keys %}
        {% assign index = i | plus: 0 %}
        <li class="as-flexbox-item">
          <figure class="as-flexbox-item-figure">
            <div class="as-flexbox-item-figure-inner">
              <a href="/collections/{{ onlinestore_slug_array[index] }}"></a>
              <img src="{{ onlinestore_image_array[index] }}{{ url_array[index] }}">
            </div>
          </figure>
          <div class="article--excerpt-content">
            <h2 class="as-font-subtitle">
              <a href="/collections/{{ onlinestore_slug_array[index] }}">{{ onlinestore_title_array[index] }}</a>
            </h2>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

  {% if page.content != blank %}
  <div class="as-inner">
      <div class="as-text rte">
      {{ page.content }}
      </div>
  </div>
  {% endif %}

</section>
