<section class="page--container">
  <div class="breadcrumbs--wrapper">
    {% include 'breadcrumbs' %}
  </div>
  <header class="blog-title as-header">
    <div class="as-inner">
    <h1>
      {{ page.title }}
    </h1>
      {% if page.metafields.custom_fields["page_read-text"] != blank %}
        <div class="header-text rte">
          {{ page.metafields.custom_fields["page_read-text"] }}
        </div>
      {% endif %}
    </div>
      {% if page.metafields.custom_fields["page_slide"] != blank %}
        <div class="slider-wrap">
            {{ page.metafields.custom_fields["page_slide"] }}
        </div>
      {% endif %}

      {% if page.metafields.custom_fields["page_hero"] != blank %}
      <div class="slider-wrap hero-wrap">
         <img src="{% include 'cf-image' with image: page.metafields.custom_fields['page_hero'], print: 'url' %}">
      </div>
      {% endif %}
  </header>


{% if page.metafields.custom_fields["ws_permalink_text_image"] != blank %}
  <div class="as-inner">
    <div class="as-bl-wrap">
      {% assign separator = "|###|" %}
      {% assign ws_pl_ti_title_array = page.metafields.custom_fields["ws_pl_ti_title"] | split: separator %}
      {% assign ws_pl_ti_image_array = page.metafields.custom_fields["ws_pl_ti_image"] | split: separator %}
      {% assign ws_pl_ti_slide_array = page.metafields.custom_fields["ws_pl_ti_slide"] | split: separator %}
      {% assign ws_pl_ti_text_array = page.metafields.custom_fields["ws_pl_ti_text"] | split: separator %}
      {% assign ws_pl_ti_link_array = page.metafields.custom_fields["ws_pl_ti_link"] | split: separator %}
      {% assign ws_pl_ti_link_hide_array = page.metafields.custom_fields["ws_pl_ti_link_hide"] | split: separator %}
      {% assign fc_keys = page.metafields.custom_fields["ws_permalink_text_image"] | split: "," %}
      {% for i in fc_keys %}
        {% assign index = i | plus: 0 %}
        <article class="as-bl-media as-bl-item">

          <div class="as-bl-media-img">
            {{ ws_pl_ti_slide_array[index] }}
            {{ ws_pl_ti_image_array[index] }}
          </div>

          <div class="as-bl-media-body article--excerpt-content">
            <h2 class="as-bl-media-body-title-l article--excerpt-title">
                {{ ws_pl_ti_title_array[index] }}
            </h2>
            <div class="as-bl-media-body-text article--excerpt-text rte">
              {{ ws_pl_ti_text_array[index] }}
              <a href="{{ ws_pl_ti_link_array[index] }}" target="_blank" class="btn-link {{ ws_pl_ti_link_hide_array[index] }}">詳しく見る</a>
            </div>
          </div>
        </article>
      {% endfor %}
      </div>
    </div>
{% endif %}

  {% if page.content != blank %}
  <div class="as-inner">
    <div class="as-bl-wrap">
      <div class="as-bl-media-body-text as-text rte">
      {{ page.content }}

      {% if page.metafields.custom_fields["page_contact_btn"] != blank %}
        <p><a href="https://ateliershimura.myshopify.com/pages/contact" class="btn-link">{{ page.metafields.custom_fields["page_contact_btn"] }}</a></p>
      {% endif %}
      </div>
    </div>
  </div>
  {% endif %}

</section>
